# Node.js dependencies
node_modules/

# Log files
npm-debug.log
*.log

# Environment variables
.env
.env.local

# Operating System files
.DS_Store # macOS
Thumbs.db # Windows

# Firebase Admin SDK Credentials (VERY IMPORTANT - DO NOT COMMIT SENSITIVE FILES)
backend/*.json